<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="FechaSistema" value="2015-05-28 00:35:00"/>
  </appSettings>
  <connectionStrings>
    <add name="StringConexion" connectionString="Data Source=LOCALHOST\SQLSERVER2008;Initial Catalog=GD1C2015;user=gd;password=gd2015"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration> 